.ContainerPrism {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  place-content: center;
  overflow: hidden;
  background-color: #000;

  * {
    font-size: 2vmax;
  }
}


.prism-container {
  position: relative;
  width: 100%;
  height: 100%;
}
