.container-template {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: end;
  overflow: hidden;

  * {
    font-size: 2vmax;
  }
}
