.DecryptedTextContainer {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: end;
  overflow: hidden;
  background-image: url('/assets/decrypted-text.avif');
  padding: 1.5vmax;

  * {
    font-size: 2vmax;
    color: #fff;
  }
}
