.ContainerRibbons {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  overflow: hidden;
  background-image: url('/assets/ribbon-bg.avif');
}

.ribbons-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
}
