.container-template {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  place-content: center;
  overflow: hidden;
  background-color: #000;

  * {
    font-size: 2vmax;
  }
}

#lights {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}
