.ContainerGridDistortion {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  place-content: center;
  overflow: hidden;

  * {
    font-size: 2vmax;
  }
}

.distortion-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
