.ContainerSplashCursor {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  overflow: hidden;
  background-color: #000;

  * {
    font-size: 2vmax;
  }
}
