.container-text-pressure {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: end;
  overflow: hidden;
  /* background-image: url('/assets/shiny-text-bg.avif'); */

  * {
    font-size: 4vmax;
    color: #000;
  }

  .texto {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
  }
}
