.ContainerScrollStack {
  width: 100%;
  height: 100vh;
  display: flex;
  place-content: center;
  overflow: hidden;
  background-image: url('/assets/stack-scroll-bg.avif');
  background-size: cover;
}

h2 {
  font-size: 2vmax;
  font-family: cursive;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.scroll-stack-inner {
  padding: 15vh 4rem 40vh;
  min-height: 100vh;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  position: relative;
  width: 100%;
  max-width: 50rem;
  height: 20rem;
  margin: 3rem auto;
  padding: 3rem;
  border-radius: 30px;
  box-sizing: border-box;
  background: #0008;
  border: 1px solid #2a2a2a;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5), 0 4px 10px rgba(255, 255, 255, 0.03) inset;
  transform-origin: top center;
  will-change: transform;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
