.ContainerDotGrid{
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  place-content: center;
  overflow: hidden;
/*   background-size: cover;
  background-position: center;
  background-image: url('/assets/.avif'); */

  * {
    font-size: 2vmax;
  }
}

.dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
