.ContainerLaserFlow {
  width: 100%;
  height: 100vh;
  
  overflow: hidden;

  * {
    font-size: 2vmax;
  }

  .container-laser {
    height: 100vh;
  }

  canvas {
    width: 100%;
    height: 100vh;
    position: absolute !important;
    transform: translateX(-10%);
  }
}

.laser-flow-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
}
